.content {
  margin: 40px;
}

button{
  margin-bottom: 10px;
}

.buscar {
  width: 120px;
  border: #749fc4 solid 2px;
  color: #749fc4;
  font-weight: 600;
  padding: 2px 0;
  border-radius: 25px;
}

.mas {
  border: none;
  background-color: #2bd9d9;
  color: white;
  font-size: 1.2em;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.crear-cuenta {
  border: black solid 2px;
  background-color: #2B78E4;
  color: white;
  padding: 5px 25px;
  box-shadow: 3px 3px 0 black;
}